<% provide(:title, "Dashboard")%>
<h1>Bike Train Community</h1>
<div class="row">
	<div class="span12">
		<h3><%= image_tag current_user.photo.url(:small), size: "50x50" %>  Welcome Back, <%= current_user.name %>!</h3>

		
		<%= link_to "Find a Group", groups_path, class: "btn btn-large btn-primary" if signed_in?%>		
		<%= link_to "Start a Group", new_group_path, class: "btn btn-large btn-primary" if signed_in?%><br/><br/>

		<%= form_tag :controller => 'groups', :action => 'search', :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :id => 'search_field', size: 100, style: "width: 400px" %>
			<%= submit_tag "Search", :name => nil %> 
			<%= link_to_function "Clear", "$('search_field').clear()" %>
		<% end %>

		<table class="table table-hover">
			<thead>
				<tr>
					<td>
						Group Name
					</td>
					<td>
						Route
					</td>
					<td>
						Distance
					</td>
					<td>
						Potential calories burn
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Broklyn Height to Midtown
					</td>
					<td>

					</td>
					<td>

					</td>
					<td>
						
					</td>
				</tr>
			</tbody>
		</table>


	</div>
</div>
