<% provide(:title, "Dashboard")%>
<h1>Bike Train Community</h1>
<div class="row">
	<div class="span12">
		<h3><%= image_tag current_user.photo.url(:small), size: "50x50" %>  Welcome Back, <%= current_user.name %>!</h3>

		
		<%= link_to "Find a Group", groups_path, class: "btn btn-large btn-primary" if signed_in?%>		
		<%= link_to "Start a Group", new_group_path, class: "btn btn-large btn-primary" if signed_in?%><br/><br/>

		<%= form_tag :controller => 'groups', :action => 'search', :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :id => 'search_field', size: 100, style: "width: 400px" %>
			<%= submit_tag "Search", :name => nil %> 
			<%= link_to_function "Clear", "$('search_field').clear()" %>
		<% end %>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						Group Name
					</th>
					<th>
						Route
					</th>
					<th>
						Distance
					</th>
					<th>
						Potential calories burn
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Broklyn Height to Midtown
					</td>
					<td>
						187 Prospect Place, Brooklyn, NY to 25 West 42th Street, New York, NY
					</td>
					<td>
						3.4 miles
					</td>
					<td>
						250
					</td>
				</tr>
				<tr>
					<td>
						Broklyn Biking Group
					</td>
					<td>
						187 Prospect Place, Brooklyn, NY to 45 Bedford Ave, Williamsburg, NY
					</td>
					<td>
						2 miles
					</td>
					<td>
						100
					</td>
				</tr>
				<tr>
					<td>
						Jackson Height to Midtown
					</td>
					<td>
						145 Jackson Ave, Queens, NY to 203 Eest 51th Street, New York, NY
					</td>
					<td>
						4.3 miles
					</td>
					<td>
						280
					</td>
				</tr>
			</tbody>
		</table>


	</div>
</div>
