<% provide(:title, "Groups")%>
<h1>Groups</h1>

<%= will_paginate %>

<div class="row">
	<div class="span8">
		<dl>
		<% @groups.each do |group| %>
			<dt>
				<%= link_to group.name, group %>
			</dt>
			<dd>
				<%= group.description %>
			</dd>
		<% end %>
		</dl>
	</div>

	<div class="span4">
		<%= link_to "Create Group", new_group_path, class: "btn btn-large btn-primary"%>
	</div>
</div>

<%= will_paginate %>

